* {
    margin:0; 
    padding:0;
}

nav {
   margin:auto;
   text-align: center;
   width: 100%;
   font-family: arial;
} 

nav ul {
   background: lightskyblue;
   padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-left: 15px;
   list-style: none;
   position: relative;
   display: inline-table;
   width: 100%;
}

nav ul li{
   float:left;
}

nav ul li:hover{
   background:gainsboro;
}

nav ul li:hover a{
    color:#000;
}

nav ul li a{
    display: block;
    padding: 20px;
    font-weight: 400;
    text-transform: uppercase;
    font-style: 'sans-serif';
    color: #fff;
    text-decoration: none;
}